header {
    background: #fff;
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.inner {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2.5%;
    background: rgba(255, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    line-height: 4rem;
}

.logo img {
    width: 155px;
    height: 24px;
}

header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-list {
    display: flex;
    gap: 60px;

}

.menu-list>li {
    width: 80px;
    text-align: center;
    /* display: block; */
    /* border: 1px solid black; */
    position: relative;
    /* background: aqua; */
    z-index: 1000;
}

.menu-list>li>a {
    line-height: 70px;
}

/* .main-menu>ul>li>a::after { */
.menu-list>li>a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: scaleX(0);
    transform-origin: center;
    transition: 1s;
}

.menu-icon {
    display: inline-block;
    transform: rotate(0deg);
    opacity: 0;
    transition: 1s;
    position: absolute;
    top: -15px;

}

.menu-icon>img {
    width: 20px;
    height: 20px;
}


.menu-list>li>a:hover {
    color: red;

}

.menu-list>li>a:hover::after {
    color: red;
    transform: scaleX(1);
}


.menu-list>li>a:hover>.menu-icon {
    transform: rotate(360deg);
    opacity: 1;


}

.menu-list>li>ul>li:hover>a {
    color: red;
}


.menu-list>li:hover>ul {
    display: block;
}

.menu-list>li>ul {
    display: none;
    width: 120px;
    background: #fcfcfc;
    /* border: 1px solid black; */
    border-radius: 20px;
    position: absolute;
    padding: 10px 0;
    left: 50%;
    transform: translateX(-50%);

}

.menu-list>li>ul>li {
    padding: 5px 0;
}

.sub-menu>li {
    font-size: 0.8rem;
}

.header-right>.gnb-list {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.gnb-list>.global {
    /* border: 1px solid red;     */
    position: relative;
}

.gnb-list .global:hover .global-sub {
    display: block;
}

.global-sub {
    border: 1px solid black;
    border-radius: 10px;
    background: #fff;
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;


}

/* main */
.main-slider-wrap {
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}

.main-slider>div {
    padding: 30px 20px;
    /* border: 1px solid red; */
}

.main-slider div img {
    width: 100%;
}

.main-navi {
    /* border: 1px solid green; */
    width: 120px;
    position: fixed;
    right: 30px;
    z-index: 999;
}

.navi>li {
    display: flex;
    justify-content: right;
    padding: 10px 0;
}

.navi>li:hover {
    color: red;
    /* border: 1px solid black;     */
}

.navi>li:hover>.navi-icon {
    display: block;
}

.navi-icon {
    padding-left: 5px;
    display: none;
}

.navi-icon>img {
    width: 50%
}

.text-box {
    font-size: 0.9rem;
    font-weight: 600;
    border: 1px solid black;
    text-align: center;
}

section {
    background: green;
    border: 1px solid black;
    height: 700px;
    margin: 0 auto;
}

section h2 {
    color: red;
    font-size: 3rem;
    font-weight: 800;
    padding: 1% 3%;

}

.Product {
    background: rgba(0, 0, 255, 0.1);
    max-width: 1600px;

}

.slider-list-wrap {
    position: relative;
    width: 90%;
    margin: auto;

}

.slider-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* overflow: hidden;     */
}

.product {
    padding: 10px 10px;
    aspect-ratio: 16/9;
    border-radius: 10px;
    /* background-color: hotpink; */
    flex: 0 0 20%;
}

.slider-list>.product-active {
    flex: 0 0 30%;
}


.product .product-head {
    background: #ccc;
    padding: 20px 20px;
    border-radius: 20px 20px 0 0;
}

.slider-list .head-active {
    background-color: red;
    color: #fff;
}

.slider-list .head-active>.tag {
    color: black;
}

.product .product-head .tag {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background: #fff;
    border-radius: 10px;
}

.product-name {
    font-size: 2rem;
    padding: 20px 0;
}

.product .product-img {
    border-radius: 0 0 20px 20px;
}

.product .product-img>img {
    width: 100%;
}

.product p {
    font-size: 0.8rem;
}

.product-manual {
    padding-bottom: 10px;
}

.arrow-btn>li>a {
    display: block;
    width: 50px;
    height: 50px;
    /* background: green; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.arrow-btn>.left-btn>a {
    left: 0;
}

.arrow-btn>.right-btn>a {
    right: 0;
}

.promotion {
    background-color: #eee;
}

.promotion>div {
    border: 1px solid red;
    width: 1600px;
    margin: 0 auto;
}

.youtube {
    width: 100%;
    height: 600px;
    border: 1px solid red;
    background: blue;
    position: relative;
    padding: 100px 0;    
    
}

.youtube iframe {
    border: 1px solid red;
    position: absolute;
    top: 0;
    right: 0;    
    width: 60%;
    height: 100%;    
    border-radius: 12px;    
}





/* footer {
    background: #ccc;
} */

footer .inner {
    background: #555;
    max-width: 1763px;
    border: 1px solid black;
    border-radius: 100px 100px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.footer-left {
    /* background: aqua; */
    padding: 30px 0;

}

.footer-left .footer-logo {
    width: 200px;
    padding-bottom: 30px;
}

.footer-left .footer-logo img {
    width: 100%;

}

address>p {
    color: white;
}

.copy {
    padding: 30px 0;
}

.custommer>strong {
    color: #fff;
}

.footer-right {
    width: 430px;
    /* background: red; */
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;



}

.footer-right .footer-menu-list {
    display: flex;
    justify-content: right;
    gap: 30px;
}

.footer-right .footer-menu-list>li {
    /* border: 1px solid black; */
    font-size: 1.13rem;
    font-weight: 600;
    color: #fff;
}

.footer-right .sns-list {
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 1600px) {
    .menu-list {
        gap: 40px;
    }


    .footer-right .footer-menu-list {
        gap: 20px;
    }

    .footer-right .footer-menu-list>li {
        font-weight: 400;
    }

}


@media screen and (max-width: 1024px) {
    .main-menu {
        display: none;
    }

    .gnb-list li:not(.ham-btn) {
        display: none;
    }

    .footer-left {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .footer-right {
        width: 350px;
    }

    .footer-right .footer-menu-list {
        gap: 10px;
    }

    .footer-right .footer-menu-list>li {
        font-size: 0.8rem;
    }

    .sns-list li img {
        width: 80%;
    }

}

@media screen and (max-width: 767px) {
    footer .inner {
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .footer-logo {
        display: inline-block;
        /* border: 1px solid red; */
    }

    .footer-right {
        width: 100%;
    }

    .footer-right .sns-list {
        display: flex;
        justify-content: center;
    }

    .footer-right>.footer-menu-list {
        display: none;
    }
}